.title {
  color: #fff;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.4px;
  letter-spacing: 5.4px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 1%;
  margin-top: -0.1%;
}
.icon {
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: -5%;
}
